.card-body {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body:hover {
    border: 4px rgb(99, 99, 99) solid;
    border-radius: 2px;
    box-shadow: 4px 4px 10px rgb(56, 56, 56);
    transition: all .2s ease-in-out;
}

.card {
    width: 250px;
    height: 250px;
    background-color: #444;
    margin: 15px 45px;
    border: 3px solid black;
  }